.createWrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
}

.createGroup{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.uploadButton{
    border: 2px solid  var(--text-shadow);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    height: 40px;
    
}

.createButton{
    background: var(--text-shadow);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    height: 40px;
}