.wrapper{
    min-width: 400px;
    background-color: var(--text-shadow);
    color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

.membersListWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.member{
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    font-family: var(--font-odibee-sans);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--purple-light);

}