.tournament-container {
    margin: 0 0 100px 0;
  }
  
  .all-rounds-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

.round-container-and-title{
    display: flex;
    flex-direction: column;
}
  .round-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
  
  .match-container {
    border: 1px solid white;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .player-box {
    padding: 10px;
    cursor: pointer;
  }
  
  .player-box-disabled {
    cursor: not-allowed;
  }
  
  .player-box-winner {
    background-color: green;
  }
  
  .player-box-no-winner {
    background-color: transparent;
  }

  .player-box-empty {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .player-box-border {
    border-bottom: 1px solid white;
  }

  .winner-box {
    cursor: default;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .winner-box-border{
    border-bottom: 1px solid gold;
  }

  